body {
    background-image: url("golf.jpg");
    background-repeat: repeat-y;
    background-position: right top;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
        }
  p {
     font-size: 2rem;
  }
  
  button {
      padding: 10px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
  }
  
  button.blue {
      background-color: #db3734;
  }
  
  button.green {
      background-color: #652ecc;
  }
  
  button.orange {
     background-color: orangered;
  }
  }
  
  
  